## Julia part (30 marks)

In the folder `Penguin_data` you find two datasets (csv formatted files) about at-sea observations of seabirds dating from 1969 to 1990 in New Zealand. You can find more information here: https://catalogue.data.govt.nz/dataset/at-sea-observations-of-seabirds-1969-to-1990

This is true-life messy data. Handle with care ;-)

Your task for this part is to load the data, wrangle it a bit, and answer a couple of question.

_hint_ this is the moment to go back to the Julia notebooks for lab 1 to 4.

### Load the data (5 marks)

Load the two dataset into two separate data frames.

_hint_ take a look at the package `CSV.jl` and `DataFrames.jl`.

In [61]:
#Pre installing package 
import Pkg
using Pkg
Pkg.add("CSV")
Pkg.add("Queryverse")
Pkg.add("DataFrames")
Pkg.add("Query")
Pkg.add("StatsPlots")

   Resolving package versions...
  No Changes to `C:\Users\91ken\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\91ken\.julia\environments\v1.7\Manifest.toml`
   Resolving package versions...
  No Changes to `C:\Users\91ken\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\91ken\.julia\environments\v1.7\Manifest.toml`
   Resolving package versions...
  No Changes to `C:\Users\91ken\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\91ken\.julia\environments\v1.7\Manifest.toml`
   Resolving package versions...
  No Changes to `C:\Users\91ken\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\91ken\.julia\environments\v1.7\Manifest.toml`
   Resolving package versions...
  No Changes to `C:\Users\91ken\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\91ken\.julia\environments\v1.7\Manifest.toml`

In [67]:
using CSV
using DataFrames
using Queryverse

bird_df = CSV.read("Penguin_dataBird_data.csv", DataFrame)
ship_df = CSV.read("Penguin_dataShip_data.csv", DataFrame)

12310×29 DataFrame
   Row │ RECORD  RECORDID  DATE        TIME      LAT          LONG         EW  ⋯
       │ Int64   Int64     String      Time?     Float64?     Float64?     Str ⋯
───────┼────────────────────────────────────────────────────────────────────────
     1 │      1   1083001  15/10/1975  14:00:00      -45.917      165.4    E   ⋯
     2 │      2   1084001  3/11/1975   13:10:00      -35.533      125.0    E
     3 │      3   1084002  4/11/1975   14:20:00      -37.667      132.25   E
     4 │      4   1084003  8/11/1975   16:15:00      -40.0        162.0    E
     5 │      5   1086001  16/11/1975  12:30:00      -36.167      174.917  E   ⋯
     6 │      6   1086002  16/11/1975  15:30:00      -35.417      174.567  E
     7 │      7   1086003  17/11/1975  14:30:00      -35.25       168.0    E
     8 │      8   1086004  17/11/1975  16:30:00      -35.3        167.333  E
     9 │      9   1086005  18/11/1975  14:30:00      -36.5        161.0    E   ⋯
    10 │     10   1086006  18/11/1975  16:30:00      -36.333      160.5    E
    11 │     11   1086007  20/11/1975  12:00:00      -39.183      146.283  E
   ⋮   │   ⋮        ⋮          ⋮          ⋮           ⋮            ⋮           ⋱
 12301 │  12301  88007027  6/06/1988   15:30:00      -35.217      174.417  E
 12302 │  12302  88007028  6/06/1988   15:45:00      -35.267      174.467  E   ⋯
 12303 │  12303  88007029  6/06/1988   16:00:00      -35.35       174.5    E
 12304 │  12304  88007030  6/06/1988   17:00:00      -35.567      174.6    E
 12305 │  12305  88007031  7/06/1988   08:00:00      -35.883      174.55   E
 12306 │  12306  88007032  7/06/1988   09:00:00      -35.883      174.55   E   ⋯
 12307 │  12307  88007033  7/06/1988   09:30:00      -35.883      174.55   E
 12308 │  12308  88007034  7/06/1988   11:00:00      -35.883      174.55   E
 12309 │  12309  88007035  7/06/1988   12:00:00      -35.883      174.55   E
 12310 │  12310  88007036  7/06/1988   13:30:00      -35.883      174.55   E   ⋯
                                               23 columns and 12289 rows omitted

### Join the data (5 marks)

Join the two dataframes into one.

_hint_ there is one column being an ID: which one?

In [3]:
#drop RECORD column for both dataframes
#select!(bird_df, Not(:RECORD)) 
#select!(ship_df, Not(:RECORD))
penguin_df = leftjoin(bird_df, ship_df; on = :RECORDID, makeunique = true)
penguin_df |> 
    describe
#CSV.write("penguin.csv", penguin_df)

55×7 DataFrame
 Row │ variable               mean       min             median    max         ⋯
     │ Symbol                 Union…     Any             Any       Any         ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ RECORD                 24510.0    1               24510.0   49019       ⋯
   2 │ RECORDID               3.95681e7  1083001         1.3004e7  88007036
   3 │ SpeciesCommonName                 Adelie penguin            [NO BIRDS R
   4 │ SpeciesScientificName             Anous minutus             Thallassarc
   5 │ SpeciesAbbreviation               ALBUNI                    THASP JUV   ⋯
   6 │ AGE                               AD                        SUBAD
   7 │ WANPLUM                2.50924    1               2.0       5
   8 │ PLPHASE                           DRK                       WHITE
   9 │ SEX                               F                         M           ⋯
  10 │ COUNT                  41.9303    1               2.0       99999
  11 │ NFEED                  11.3094    0               0.0       99999
  ⋮  │           ⋮                ⋮            ⋮            ⋮               ⋮  ⋱
  46 │ DEPTH                  364.642    60              310.0     2200
  47 │ OBS                               BAIN                      THOM        ⋯
  48 │ CSMETH                            F                         P
  49 │ MONTH                  7.02807    1               7.0       12
  50 │ SEASN                             autumn                    winter
  51 │ LONG360                160.022    50.0            163.167   184.417     ⋯
  52 │ LATCELL                -39.6173   -69.5           -38.5     -19.5
  53 │ LONGECELL              160.24     50.5            163.5     184.5
  54 │ Column28
  55 │ Column29                                                                ⋯
                                                   3 columns and 34 rows omitted

### Question 1 (10 marks)

In which season would say we see more Little penguins?

_hint_ their scientific name is _Eudyptula minor_ and their Species abbreviation is "EUDMIN".

_hint_ you may want to use the package `Query.jl`.

Ans: The season with the most penguin sighting is winter

In [4]:
using Query

season_penguin = @from i in penguin_df begin
         @where (i.SpeciesAbbreviation == "EUDMIN")
         @select (Season = i.SEASN, Count = i.COUNT)
         @collect DataFrame
end

season_penguin.Count = replace(season_penguin.Count, missing => 0)

season_penguin_total = combine(groupby(season_penguin, :Season), :Count => sum)

#sort by Count_sum column in descending order to get the most sightings in the first row
sort!(season_penguin_total, :Count_sum, rev = true)

sighting_season = season_penguin_total[1,1]
println("The season with the most penguin sighting is " * sighting_season)

The season with the most penguin sighting is winter

### Question 2 (10 marks)

How does the sighting of penguins (not just Little penguins, but all penguins species) change by year? Make a plot to show it.

In [92]:
Pkg.add("PlotlyJS")

   Resolving package versions...
  No Changes to `C:\Users\91ken\.julia\environments\v1.7\Project.toml`
  No Changes to `C:\Users\91ken\.julia\environments\v1.7\Manifest.toml`

In [106]:
yearly_penguin = @from i in penguin_df begin
    @select (DATE = i.DATE, Count = i.COUNT)
    @collect DataFrame
end

#convert column "DATE" to Date type
using Dates
Date_Format(x) = Date(x, DateFormat("d/m/y"))
Accept_Missing_Date = passmissing(Date_Format)
yearly_penguin[!,:DATE] = Accept_Missing_Date.(yearly_penguin[!,:DATE])

0#replace missing values in "Count" column to 0 
yearly_penguin.Count = replace(yearly_penguin.Count, missing => 0)


yearly_penguin_total = combine(groupby(yearly_penguin, :DATE), :Count => sum)
sort!(yearly_penguin_total, :DATE)+9+
# yearly_penguin_total.DATE


#yearly_penguin_total.DATE = Date.(yearly_penguin_total.DATE, "d/m/y")
#date_format = DateFormat("d/m/y")
#yearly_penguin_total[:Date] = Date.(yearly_penguin_total[Date], date_format)
#transform(yearly_penguin_total, :Date = string.chop.(:Date))
# yearly_penguin_total |>
#     DateTime(:Date, dateformat"m/d/y")
#DateTime(yearly_penguin_total[!,:Date], dateformat"m/d/y")
#DateTime(select(yearly_penguin_total, :Date), dateformat"d/m/y")

# yearly_penguin_total |>
# #     @vplot(:point, x:DATE, y=:Count_sum)
# using PlotlyJS
# plot(yearly_penguin_total, x=:DATE, y=:Count_sum)

using StatsPlots
@df yearly_penguin_total plot(:DATE, :Count_sum)

LoadError: MethodError: no method matching value(::Missing)
Closest candidates are:
  value(::Period) at C:\Users\91ken\AppData\Local\Programs\Julia-1.7.3\share\julia\stdlib\v1.7\Dates\src\periods.jl:10
  value(::DataValue{T}) where T at C:\Users\91ken\.julia\packages\DataValues\N7oeL\src\scalar\operations.jl:41
  value(::Time) at C:\Users\91ken\AppData\Local\Programs\Julia-1.7.3\share\julia\stdlib\v1.7\Dates\src\accessors.jl:52
  ...